<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133233619812-q3t16dslbj55jif8lfqbf65lm5or97pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133233619812-q3t16dslbj55jif8lfqbf65lm5or97pr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>133233619812-83p6p6q5p7ibtmdk00b5g29juc16srum.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxEIkbPspfi2dlBWtMHNoJfUdI42xz8pM</string>
	<key>GCM_SENDER_ID</key>
	<string>133233619812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dogpro.dogPro</string>
	<key>PROJECT_ID</key>
	<string>genofax-1936c</string>
	<key>STORAGE_BUCKET</key>
	<string>genofax-1936c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133233619812:ios:81e57bc926638936d98071</string>
</dict>
</plist>